services:
  nextjs:
    image: amayacrab/portifolio-website:latest
    container_name: nextjs
    restart: always
    expose:
      - '3000'
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - '80:80'
      - '443:443' # Se quiser adicionar SSL depois
    volumes:
      - ../../../nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - nextjs
